---
layout: default
js_assets:
  - 'index'
---

<div class="posts-list posts-list-index">
  <ul>
  {% for post in paginator.posts %}

    {% include post_item.html %}

  {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-medium btn-blue h-tupper h-left">
        <span class="btn-border">Newer</span>
      </a>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: '/' | replace: '//', '/' }}" class="btn btn-medium btn-blue h-tupper h-right">
        <span class="btn-border">Older</span>
      </a>
    {% endif %}
  </div>
  {% endif %}
</div>
