<section class="section">
  <div class="inner">
      <div class="blog-aside h-vspace-m">
        <div class="blog-categories">
          <div class="blog-aside-inner">
            <h2 class="tit-module">Categories</h2>

            <ul class="lst-nav-tags">
            {% for cat in site.categories %}
              <li><a href="{{ '/categories/' | append: cat[0]| downcase | replace: ' ', '-' | append: '/' | prepend: site.baseurl }}">{{ cat[0] | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="blog-subscribe">
          <div class="blog-aside-inner">
            <h2 class="tit-module">Subscribe</h2>
            <p class="h-vspace-m">Stay tuned and subscribe to our mailing list</p>

            {% include mailchimp.html %}

            <p class="post-info-subscribe">
              <span class="btn-follow">
                <a href="https://twitter.com/cartoDB" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @cartoDB</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </span>

              <i class="icon i-s icons-rss h-malign"></i>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="h-iblock h-malign">Subscribe via RSS</a>.</p>
          </div>

        </div>
      </div>
  </div>
</section>
