<section class="section dark">
  <div class="inner">
      <div class="blog-aside">
        <div class="blog-categories">
          <div class="blog-aside-inner">
            <h2 class="title-module">Categories</h2>

            <ul class="lst-nav-tags">
            {% for category in site.categories %}
              <li>{{ category | first | capitalize}}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="blog-subscribe">
          <div class="blog-aside-inner">
            <h2 class="title-module">Subscribe</h2>
            <p class="description-module">Stay tuned and subscribe to our mailing list</p>

            {% include mailchimp.html %}
          </div>
        </div>
      </div>
  </div>
</section>
