<footer class="footer">
  <div class="inner">
  <div class="footer-inner">
      <ul class="footer-columns">

        <li class="footer-column">
          <dl>
            <dt>CartoDB</dt>
            <dd><a href="{{ site.baseurl }}visualize">Create beautiful maps</a></dd>
            <dd><a href="{{ site.baseurl }}analyze">Analyze your data</a></dd>
            <dd><a href="{{ site.baseurl }}develop">Develop your apps</a></dd>
            <dd><a href="{{ site.baseurl }}gallery">Gallery</a></dd>
            <dd><a href="{{ site.baseurl }}pricing">Pricing</a></dd>
            <dd><a href="{{ site.baseurl }}media">About us</a></dd>
            <dd><a href="{{ site.baseurl }}team">Team</a></dd>
          </dl>
        </li>

        <li class="footer-column">
          <dl>
            <dt>Enterprise</dt>
            <dd><a href="{{ site.baseurl }}enterprise">CartoDB for enterprise</a></dd>
            <dd><a href="{{ site.baseurl }}partners">Partners</a></dd>
            <dd><a href="{{ site.baseurl }}gallery">Case studies</a></dd>
            <dd><a href="mailto:sales@cartodb.com">Contact sales</a></dd>
          </dl>
        </li>
        <li class="footer-column">
          <dl>
            <dt>Learn</dt>
            <dd><a href="{{ site.blog-baseurl }}">Blog</a></dd>
            <dd><a href="{{ site.baseurl }}docs">Documentation</a></dd>
            <dd><a href="http://developers.cartodb.com/tutorials.html">Tutorials</a></dd>
            <dd><a href="http://developers.cartodb.com/documentation/apis-overview.html">APIs</a></dd>
            <dd><a href="http://academy.cartodb.com">The Map Academy</a></dd>
            <dd><a href="{{ site.baseurl }}docs#support">Support</a></dd>
          </dl>
        </li>
        <li class="footer-column last">
          <dl>
            <dt>Use CartoDB to</dt>
            <dd><a href="{{ site.baseurl }}use-cases/map-excel-data">Map Excel Data</a></dd>
            <dd><a href="{{ site.baseurl }}use-cases/situation-room">Situation Room Dashboards</a></dd>
          </dl>
        </li>
      </ul>

      <div class="">
        <p class="h-left">{{ site.time | date: "%Y" }} CartoDB</a></p>
        <p class="h-right">
          <a href="{{ site.baseurl }}love">Love</a> - 
          <a href="{{ site.baseurl }}attributions">Attributions</a> - 
          <a href="mailto:support@cartodb.com">Contact</a> - 
          <a href="{{ site.cartodburl }}/terms">Terms of service</a></p>
      </div>
    </div>
  </div>
</footer>
