<header class="header header-background white">
  <div class="inner cf">
    <nav class="navbar cf">
      <div class="navbar-header h-left">
        <span class="navbar-brand h-malign"><a href="{{ site.baseurl }}">Cartodb</a></span>

        <a href="#" class="navbar-button h-right">
          <i class="icon icons-mobile-nav"></i>
        </a>
      </div>

      {% assign gallery = false %}
      {% if page.categories contains 'gallery' or page.layout == 'gallery' % %}
        {% assign gallery = true %}
      {% endif %}

      {% assign industries = false %}
      {% if page.categories contains 'industries' or page.layout == 'industries' % %}
        {% assign industries = true %}
      {% endif %}

      <div class="navbar-collapse">
        <ul class="navbar-inner navbar-inner-buttons h-iblock inb-list h-malign h-right">
          <li><a href="{{ site.cartodburl }}/pricing">Sign Up</a></li>
          <li><a href="{{ site.cartodburl }}/login" class="navbar-login">Login</a></li>
        </ul>

        <ul class="navbar-inner h-iblock inb-list h-malign h-left">
          <li class="{% if industries %}selected{% endif %} h-pr">
            <a href="#" class="tooltip-link">
              Industries
              {% if industries %}
                <i class="icon i-xs icons-arrow-down h-malign"></i>
              {% else %}
                <i class="icon i-xs icons-arrow-down h-malign i-medium"></i>
              {% endif %}
            </a>

              <div class="tooltip h-pa">
                <h2 class="tooltip-header">
                  All industries
                </h2>

                <div class="tooltip-inner">
                  <ul>
                    {% assign sorted_pages = site.pages | sort:"path" %}
                    {% for pag in sorted_pages %}
                    {% if pag.categories contains 'industries' %}
                      <li class="{% if page.slug == pag.slug %}selected{% endif %}"><a href="{{ pag.url }}" class="tooltip-item">{{ pag.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>

          </li>

          <li class="{% if gallery %}selected{% endif %}"><a href="{{ site.baseurl }}gallery" title="Map Gallery">Gallery</a></li>
          <li class="{% if page.layout == 'docs' %}selected{% endif %}"><a href="{{ site.baseurl }}docs">Help</a></li>
          <li class="{% if page.layout == 'pricing' %}selected{% endif %} {% if page.layout == 'pricing-features' %}selected{% endif %}"><a href="{{ site.baseurl }}pricing">Pricing</a></li>
          <li class="{% if page.layout == 'enterprise' %}selected{% endif %}"><a href="{{ site.baseurl }}enterprise">Enterprise</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>
