<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.content contains '<!--more-->' %}{{ page.content | split:'<!--more-->' | first | markdownify | strip_html | truncate: 155 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncate: 155 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="author" content="CartoDB">
  <meta property="og:title" content="{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif page.content contains '<!--more-->' %}{{ page.content | split:'<!--more-->' | first | markdownify | strip_html | truncate: 155 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | truncate: 155 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ '/' | prepend: site.baseurl }}"/>
  <meta property="og:image" content="{% if page.layout_color %}{{ page.layout_color | prepend: site.baseurl }}{% else %}{{ '/img/cartofante_blue.png' | prepend: site.baseurl }}{% endif %}"/>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">

  {% if site.env == 'production' %}
    <link rel="stylesheet" href="{{ '/css/blog.min.css' | prepend: site.baseurl }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/css/vendor/syntax.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/css/blog.css' | prepend: site.baseurl }}">
  {% endif %}
  <script src="{{ '/js/vendor/modernizr-2.6.2.min.js' | prepend: site.baseurl }}"></script>
</head>
