<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title_meta %}{{ page.title_meta }} — {% elsif page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% if page.description_meta %}{{ page.description_meta }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="author" content="CartoDB">
  <meta name="DC.title" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <script src="{{ '/js/vendor/modernizr-2.6.2.min.js' | prepend: site.baseurl }}"></script>
</head>
