
// footer
.footer {
  font: 14px "Proxima Nova Rg";
  background: #f7f7f7;
  background: rgba(#ddd, .2);
  color: #555;
  width: auto;
  overflow: hidden;

  a {
    color: #397DB8;
    transition: all .3s;
    -webkit-transition: all .3s;

    &:hover {
      color: #000;
    }
  }
}

.footer-inner {
  padding-top: 40px;

  div {
    border-top: 1px solid #ddd;
    p { padding: 40px 0; }
  }
}

.footer-columns {
  width: auto;
  overflow: hidden;
  margin-bottom: 40px;
  > li {
    margin-left: 4%;
    width: 22%;
    &:first-child { margin: 0; }
  }

}

.footer-column {
  display: block;
  float: left;
  font: 400 15px "Proxima Nova Rg";

  dt {
    margin-bottom: 24px;
    font-weight: 700;
    font-family: "Proxima Nova Sb";
    font-size: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ddd;
  }

  dd {
    margin-bottom: 10px;
  }

  a {
    color: #999;

    &:hover {
      color: #333;
    }
  }
}
.info-footer-title { width: 60%; }
.info-footer-action { margin-top: 7px; }

@media (max-width: 760px) {
  .info-footer-title {
    width: 100%;
    text-align: center;
  }
  .info-footer-action { text-align:center;
    &.h-right { float: none; }
    li { margin-top: 30px; }
  }
}


@media (max-width: 650px) {
 .footer-columns {
    > li {
      margin-top: 60px;
      margin-left: 0;
      width: 100%;
      &:first-child { margin-bottom: 0; }
    }
  }

  .footer-column {
    display: block;
    float: none;
  }
}




