.cf:after {
  content:"";
  display: block;
  clear:both;
  width: 100%;
}


.hide { display: none; }
.h-left { float: left; }
.h-right { float: right; }
.h-ov { overflow: hidden; }
.h-iblock { display: inline-block; }
.h-malign { vertical-align: middle; }
.h-txt-center { text-align: center; }
.h-txt-left { text-align: left; }
.h-txt-right { text-align: right; }
.h-talign { vertical-align: top; }
.h-balign { vertical-align: bottom; }
.h-pa { position: absolute; }
.h-pr { position: relative; }

.h-tupper { text-transform: uppercase; }

.inb-list {
  > li {
    display: inline;
    display: inline-block;
    vertical-align: middle;
  }
}

.h-valign:before {
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -5px;
}

.itm-media { float: left; display: inline; }
.itm-body { display: table; height: 1%; }
.itm-body-exp { display: block; overflow: hidden; }


