/* =Constants
----------------------------------------------- */

$max-width: 1000px;
$large-width: 960px;
$medium-width: 750px;
$small-width: 400px;

$principal-color: #397DBA;
$secondary-color: #8EB83F;
