/* =Icons
----------------------------------------------- */

@import 'icons/*.png';
@include all-icons-sprites;

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;

  &.i-hard { @include opacity(.8); }
  &.i-medium { @include opacity(.6); }
  &.i-grey { @include opacity(.35); }
  &.i-light { @include opacity(.2); }
  &.icons-arrow-right, &.icons-arrow-right-white { width: 15px; height: 10px; }
  &.icons-mobile-nav, &.icons-mobile-nav-blue { width: 21px; height: 18px; }

  &.i-big { width: 72px; height: 72px; }
  &.i-xxl { width: 62px; height: 62px; }
  &.i-xl { width: 44px; height: 44px; }
  &.i-m { width: 24px; height: 24px; }
  &.i-s { width: 16px; height: 16px; }
  &.i-xs { width: 12px; height: 12px; }
  &.i-xxs { width: 9px; height: 15px; }
  &.i-media { width: 32px; height: 32px; }
}

.i-xs {
  &.icons-arrow-down,
  &.icons-arrow-down-white {
    width: 7px;
    height: 4px;
    margin-left: 4px;
  }
}
