<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->

{% include head.html %}

<body class="{% if page.slug %}{{ page.slug }}{% endif %}">
  <div class="offcanvas">
  <div class="offcanvas-inner {% if page.layout_color %}featured-post{% else %}white_layout{% endif %}">

    {% include navigation.html %}

    {% if page.layout_color %}
    <header class="header" style="background-image: url({{ page.layout_color }});">
    </header>
    {% else %}
    <header class="header">
    </header>
    {% endif %}

    <div class="content">
      <div class="inner h-txt-center">

        {{ content }}

      </div>

      {% include aside.html %}
    </div>

    {% include footer.html %}

  </div>
  </div>

  {% include footer_scripts.html %}

  {% if site.env == 'production' %}
    <script src="{{ '/js/vendor.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
    {% if page.js_asset %}
      <script src="{{ page.js_asset | append: '.js' | prepend: '/js/' | prepend: site.baseurl }}"></script>
    {% endif %}
  {% else %}
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
    <script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/index.js' | prepend: site.baseurl }}"></script>
    <script src="/bower_components/cdbui/js/cdbui/cdbui.js"></script>
    <script src="/bower_components/cdbui/js/cdbui/cdbui.navbar.js"></script>
    <script src="/bower_components/cdbui/js/cdbui/cdbui.tooltip.js"></script>
    {% if page.js_asset %}
      <script src="{{ page.js_asset | append: '.js' | prepend: '/js/' | prepend: site.baseurl }}"></script>
    {% endif %}
  {% endif %}
</body>
</html>
