---
layout: default
---
<div class="post inner">

  <header class="post-header h-txt-center">
    <p class="post-date"><span class="h-iblock h-pr">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span></p>  
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="lst-tags">
        <i class="h-iblock h-malign">tab</i>
        <ul class="inb-list h-iblock h-malign">
          <li><a href="#">CartoDBeers</a></li>
          <li><a href="#">Customer Stories</a></li>
          <li><a href="#">Enterprise</a></li>
        </ul>
    </div>
    <p class="post-author">by <img src="/img/alvaro.jpg" alt="Álvaro Ortiz" class="h-iblock h-malign" /> <a href="#">Álvaro Ortiz</a></p>
  </header>

  <article class="post-inner h-txt-left">
    {{ content }}
  </article>

</div>