---
layout: default
---
<div class="post inner">

  <header class="post-header h-txt-center">
    <p class="post-date"><span class="h-iblock h-pr">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span></p>  
    <h1 class="post-title">{{ page.title }}</h1>
    {% unless page.tags.size == 0 %}
      <div class="lst-tags">
        <i class="icon i-xs icons-tag h-malign i-medium"></i>
        <ul class="inb-list h-iblock h-malign">
          {% for tag_item in page.tags %}
            <!-- TODO: link tags -->
            <li>{{ tag_item }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endunless %}

    {% if page.author %}
      {% assign author_slug = '' %}
      {% assign author_name = '' %}
      {% assign author_avatar = '' %}

      {% for author_item in site.data.authors %}
        {% if page.author == author_item.slug %}
          {% capture author_slug %}{{ author_item.author }}{% endcapture %}
          {% capture author_name %}{{ author_item.name }}{% endcapture %}
          {% capture author_avatar %}{{ author_item.avatar }}{% endcapture %}
        {% endif %}
      {% endfor %}

      <p class="post-author">by <img src="{{ author_avatar | prepend: site.baseurl }}" alt="{{ author_name }}" class="h-iblock h-malign" /> {{ author_name }}</p>
    {% endif %}
  </header>

  <article class="post-inner h-txt-left">
    {{ content }}
  </article>

  <div class="post-share h-txt-center">
    <ul class="inb-list h-tupper">
        <li>
            <a href="#" class="btn btn-medium btn-blue-fb btn-background">
                <span class="btn-border">Share on Facebook</span>
            </a>
        </li>
        <li>
            <a href="#" class="btn btn-medium btn-blue-tw btn-background">
                <span class="btn-border">Share on Twitter</span>
            </a>
        </li>
    </ul>
  </div>


  <div class="post-relations h-vspace-l">
    <h2 class="relations-title h-txt-center h-vspace-l"><span>MORE ENTRIES</span></h2>  
    <ul class="inb-list lst-post-relations">
        <li>
            <div class="relations-media h-pr h-vspace-xs">
                <a href="#">
                    <img src="/img/post-media.jpg" alt="title" />
                </a>
            </div>
            <h2><a href="#">Change the width of your infowindows</a></h2>
        </li>
        <li>
            <div class="relations-media h-pr h-vspace-xs">
                <a href="#">
                    <img src="/img/post-media.jpg" alt="title" />
                </a>
            </div>
            <h2><a href="#">Map of the Week: Areas prone to flooding in Norway</a></h2>
        </li>
        <li>
            <div class="relations-media h-pr h-vspace-xs">
                <a href="#">
                    <img src="/img/post-media.jpg" alt="title" />
                </a>
            </div>
            <h2><a href="#">Earth Observation for a better world - See you at ESA Space Industry Days</a></h2>
        </li>
        <li>
            <div class="relations-media h-pr h-vspace-xs">
                <a href="#">
                    <img src="/img/post-media.jpg" alt="title" />
                </a>
            </div>
            <h2><a href="#">Learn CartoDB for free in NY, hosted by Gilt</a></h2>
        </li>
    </ul>
  </div>


  <p class="post- h-txt-center post-info-subscribe">If you want to keep informed on news and new features on CartoDB, <a href="#">follow us on Twitter</a> or <a href="#">suscribe via RSS</a>.</p>




  <div class="blog-navigation h-pr">
    <div class="blog-tags">
        <h2 class="title-module">Categories</h2>
        <ul class="lst-nav-tags">
            <li><a href="#">CartoDBeers</a></li>
            <li><a href="#">Customer Stories</a></li>
            <li><a href="#">Enterprise</a></li>
            <li><a href="#">How-to guides</a></li>
            <li><a href="#">Map of the Week</a></li>
            <li><a href="#">New features</a></li>
            <li><a href="#">New hires</a></li>
        </ul>
    </div>
    <div class="blog-subscribe">
        <h2 class="title-module">Subscribe</h2>
        <p class="txt-default h-vspace-l">Stay tuned and subscribe to our mailing list</p>
        <form action="#" method="GET" class="frm-subscribe">
            <input type="text" name="mail" placeholder="E-mail" />
            <button type="submit">
                <span>REGISTER NOW</span>
            </button>
        </form>
    </div>
  </div>


</div>