---
layout: default
js_assets:
  - "post"
---

<div class="posts-list post-single">
  <article class="post {% if page.layout_color %}post-layout{% endif %}">
    <div class="section-inner">
      <p class="post-meta">
        <span class="post-date h-iblock h-pr">{{ page.date | date: "%b %-d, %Y" }}</span>
      </p>

      <h2 class="tit-section-s-lt post-title">{{ page.title }}</h2>

      <div class="post-meta">
        {% unless page.tags.size == 0 %}
          <div class="post-tags">
            <i class="icon i-xs icons-tag h-malign i-medium"></i>
            <ul class="inb-list h-iblock h-malign">
              {% for tag_item in page.tags %}
                <li><a href="{{ '/tagged/' | append: tag_item | prepend: site.baseurl }}">{{ tag_item }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endunless %}

        {% if page.author %}
          {% assign author_slug = '' %}
          {% assign author_name = '' %}
          {% assign author_avatar = '' %}

          {% for author_item in site.data.authors %}
            {% if page.author == author_item.slug %}
              {% capture author_slug %}{{ author_item.author }}{% endcapture %}
              {% capture author_name %}{{ author_item.name }}{% endcapture %}
              {% capture author_avatar %}{{ author_item.avatar }}{% endcapture %}
            {% endif %}
          {% endfor %}

          <p class="post-author">by <img src="{{ author_avatar | prepend: site.baseurl }}" alt="{{ author_name }}" class="h-iblock h-malign" /> {{ author_name }}</p>
        {% endif %}
      </div>
    </div>

    <div class="post-inner h-txt-left">
      {{ page.content }}
    </div>
  </article>

  <div class="post-share">
    <ul class="inb-list h-tupper">
      <li>
        <a href="{{ page.url | prepend: site.baseurl | prepend: site.url | prepend: 'http://www.facebook.com/sharer/sharer.php?u=' }}" class="btn btn-medium btn-blue-fb btn-background" target="_blank" title="Share on Facebook">
          <span class="btn-border">Share on Facebook</span>
        </a>
      </li>
      <li>
        <a href="{{ page.url | prepend: site.baseurl | prepend: site.url | prepend: '&url=' | prepend: page.title | prepend: 'https://twitter.com/intent/tweet?text=' }}" class="btn btn-medium btn-blue-tw btn-background" target="_blank" title="Share on Twitter">
          <span class="btn-border">Share on Twitter</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="post-relations">
    <h2 class="relations-title"><span>MORE ENTRIES</span></h2>  
    <ul class="inb-list lst-post-relations">
      {% for post in site.posts limit:4 %}
        {% assign match = false %}
        {% for tag in post.tags %}
          {% if page.tags contains tag and page.url != post.url %}
            {% assign match = true %}
          {% endif %}
        {% endfor %}
        {% if match %}
          <li>
            <div class="lst-post-relations-inner">
              <div class="relations-media h-pr">
                {% if post.layout_color %}
                  <a href="{{ post.url }}" style="background-image: url({{ post.layout_color | prepend: site.baseurl }})" alt="{{ post.title }}" class="thumbnail with-layout-color"></a>
                {% else %}
                  <a href="{{ post.url }}" alt="{{ post.title }}" class="thumbnail"></a>
                {% endif %}
              </div>

              <h2 class="h-txt-left"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <p class="post-info-subscribe">If you want to keep informed on news and new features on CartoDB, <a href="#">follow us on Twitter</a> or <a href="#">suscribe via RSS</a>.</p>
</div>
